{% extends "layout.html" %}
{% block body %}
  
<script>
$(document).ready(function() {  
// get canvas and canvas context
  var eventcard_canvas = $("#eventcard")[0];
  var context = eventcard_canvas.getContext("2d");

// Array of text elements to include in canvas
var canvasText = {
  	what:"",
  	when:"",
  	where:""
};
  
var canvasColor = "#ff0";

// Make canvas stretch to 100% width of window
  function resizeCanvas() {
	eventcard_canvas.width = window.innerWidth;
	draw(); 
  }
  
  window.addEventListener('resize', resizeCanvas, false);  
  resizeCanvas();

  function draw() {
    context.fillStyle = canvasColor;
  	context.fillRect(0, 0, window.innerWidth, 300);
  	context.strokeText(canvasText.what, 30, 30);
  }
  
  
  $("#chooseDesign").click(function(){
  	$("#designOptions").slideToggle("slow");
  });
  
  var yellowDesign = $("#yellowDesign");
  yellowDesign.click(function(e){
  	e.preventDefault();
  	canvasColor = "#ff0";
  	draw();
  });
  
  var greenDesign = $("#greenDesign");
  greenDesign.click(function(e){
  	e.preventDefault();
    canvasColor = "#3f3";
    draw();
  });
  
  var blueDesign = $("#blueDesign");
  blueDesign.click(function(e){
  	e.preventDefault();
    canvasColor = "#66f";
    draw();
  });
  
  $("#eventName").keyup(function(){
  	console.log($(this).val());
	canvasText.what = $(this).val();
	if (canvasText.what.length === 0){
		canvasText.what = "Your Event";
	}
	$("#cardEventName").html(canvasText.what);
	draw();
  });
  
  
    
});
</script>
  	
  	<div class="row-fluid">
  	<div class="span12">
  	<canvas id="eventcard" height="300" width="100%">
  	    Your browser does not support HTML5 Canvas element.
  	</canvas>
  	
  	<p id="cardEventName" style="position:absolute; top:200px; left:200px">Your Event</p>
  	<p id="cardWhere"></p>
  	
  	</div>
  	</div>
  	
  	<div class="container"  style="margin-top:50px">
	<div class="span12">
  	
  	<button id="chooseDesign" style="float:right">Choose Design</button>
  	
  	<div id="designOptions">
  	<a href="" id="yellowDesign">Yellow</a> | <a href="" id="greenDesign">Green</a> | <a href="" id="blueDesign">Blue</a>
  	</div>
  	
  	<hr />
  	<div class="row">
  	<div class="span8">
  	<div class=page>

    <form action="{{ url_for('add_entry') }}" method=post class="form-horizontal add-entry">
      <div class="control-group">
        <label class="control-label" for="eventName">What:</label>
        <div class="controls"><input type=text size=50 name=title id="eventName" placeholder="Name your event" value="{{ event_title }}"></div>
      </div>
      
    <script>
  		$(function() {
    		$( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
  		});
	</script>
	<script>
		  $(function() {
			$('#timepicker').timepicker({ timeFormat: 'G:i' });
		  });
	</script>
      
      <div class="control-group">
      	<label class="control-label">When:</label>
      	<div class="controls">
      		<input class="input-small" type=text id=datepicker name=start_date size=25/>
			<input class="input-small" type=text id=timepicker name=start_time size=25/> + DOODLE?	
      	</div>
      </div>
      <div class="control-group">
      	 <label class="control-label">Where:</label>
      	 <div class="controls"><input type=text size=30 name=location size=50> (auto show map)</div>
      </div>
      <hr/>
        <div class="control-group">
      	<label class="control-label">Host:</label>
      	<div class="controls"><input type=text size=30 name=location size=50> + OPTIONS</div>
      </div>
      
      <hr/>
      <div class="control-group">
      	 <label class="control-label">Poster:</label>
      	 <div class="controls"><button class="btn">Select Image</button></div>
      </div>
      
	  <div class="control-group">
      	 <div class="controls">
      	 <label>Message from the host:</label>
      	 <textarea class="input-xlarge" name=text rows=8></textarea>
      	 </div>
	  </div>  
      <div class="control-group"><div class="controls">
        <button type=button class="btn">Add Widgets</button> (e.g. potluck planner) <br />
        <button type=button class="btn">Show Master Plan</button>
      </div></div>
      
    <div class="form-actions">
        <button type=submit class="btn btn-primary">Share</button>
        <button type=button class="btn">Preview</button>
        <button type=button class="btn">Save as Draft</button>
    </div>
    </form>
    
    </div> <!-- / span8 -->
    </div>
 
	</div>
	
  <ul class=entries>
  {% for entry in entries %}
    <li><h2>{{ entry.name }}</h2>
    <p class=time>{{ entry.start_datetime }}</p>
    <p>{{ entry.location }}</p>
    <p>{{ entry.description|safe }}</p>
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  </ul>
  
  </div>
  
  </div></div>
{% endblock %}